<!--container for the middle content-->
           <div class="col-md-6" style="background-color:white;height:100%;">
               <h3>Starbucks Data Cafe</h3>
               <p>
                   Starbucks Data Café is a platform that supports Starbucks data workers and consumers, and partners who are data curious. This platform can provide content that enables users to learn about the data at Starbucks with an emphasis on data that is available in the analytics platforms.  It allow users to understand how that data is defined, sourced, and transformed.</p>

<p>Starbucks Data Café provides a “data marketplace” where users can learn about dataset availability and access this data based on their business role. It allow users to discover data that can improve their work processes and resulting decision making. This is a platform for the sharing of information and resources across the data analytics community.  It also include the ability to collaborate across projects and optimize the knowledge and skills of the Starbucks data analytics community.</p>

               </p>
               <br>
               <h5 style="font-size:18px;margin-left:2%">BROWSE BY SUBJECT AREA</h5>
               <!--div for the carsousel -->
               <div class="funFacts">
                   <hr>
                   <div class="col-md-6 circle" ng-click="gotocust()"><img  src="images/customers.png" alt="customers"><h5>CUSTOMER ANALYTICS</h5></div>
                  
                   <div class="col-md-6 circle" ng-click="gotoitems()"><img  src="images/items.png" alt="items and products"><h5>ITEMS AND PRODUCTS</h5></div>
                   <div class="col-md-6 circle" ng-click="gotoloc()"><img  src="images/store.png" alt="Store locations"><h5>STORE LOCATIONS</h5></div>
                    <div class="col-md-6 circle"><img  src="images/partners.png" alt="partners"><h5>PARTNERS</h5></div>
                   <div class="col-md-6 circle"><img  src="images/suppliers.png" alt="suppliers"><h5>SUPPLIERS</h5></div>
                   
               </div>

           </div>
           
           <div class="col-md-1 v2"></div>
           <!--container for the right content -->
            <div class="col-md-3" style="height:100%;">
                <h5 style="font-size:16px;margin-left: 2%;"><b>CONNECT WITH BI </b></h5>
                <h5 style="font-size:15px;margin-left: 2%;">Monthly Newsletter</h5>
                <div style="height: 5%;margin-left: 2%;width: 47%;PADDING-LEFT: 7%;padding-top:2%;COLOR: GREEN;border: 1px solid green;">Subscribe</div>
                <br>
                
                <h5 style="font-size:15px;margin-left: 2%;">Have Questions?</h5>
                <div style="height: 5%;margin-left: 2%;width: 47%;PADDING-LEFT: 7%;padding-top:2%;COLOR: GREEN;border: 1px solid green;">ASK BI</div>

                <br>
                <h5 style="font-size:16px;margin-left: 2%;"><b>OUR NEXT EVENT </b></h5>

            </div>
<!--content for ng-view ends below-->
     

