*{
    cursor: default;
}
.pageContent{
    height:100%;
    width:100%;
  
    
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.topHeader{
    height:5%;
    width:100%;
    background-color:black;
    display:block;
    
}
.logoHeader{
    /*background-image: url("../images/headerbckgrd.jpg");*/
    background:linear-gradient(to right,  #caccce,white);
    height:15%;
    width:100%;
    background-color: white;
    margin-right:-5px;
    
}
img{
    height:80%;
    margin-top:1%;
    margin-left:2%;
    
}
.v1{
    border-left: 1px solid black;
    height: 73%;
    width:1px;
    padding-right:0px;
    margin-left:2%;
    margin-right:0px;
    margin-top:1%;
   
}
.v2{
    border-left: 1px solid #d8d6d6;
    height: 100%;
    width:1px;
    padding-right:0px;
    margin-left:6%;
    margin-right:0px;
    margin-top:1%;
}
h4{
  margin-top:3%;
  font-size: 24px;  

}
.searchHeader{
    width:100%;
    height:6%;
    background-color:#caccce;
    top:0px;
}
input{
    width:81%;
    margin-top:2%;
}
.funFacts{
    /*background-color:#dbdee0;*/
    width:100%;
    height:45%;
}
.circle {
      width: 120px;
      height:120px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
      
      margin-left: 5%;
    }

.circle img{
    height:56%;
    width:56%;
    margin-left:16%;
    margin-top:8%;
}
.circle:hover{
     background:lightblue;
}

h5{
    font-size:12px;
    margin-left:16%;
    margin-top:5%;
}
hr {
    height: 12px;
    width:108%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
td{
   
    font-size: 12px;
    
    
}


.frst{
background-color: #e8f7f3;
}
.scnd{
    background-color:#baefe2
}
.users{
        color: white;
    background-color: #e2dfdf;
    border: 1px solid black;
    height: 6%;
    padding-left: 7px;
    padding-top: 2%;
    margin-left: 7%;

}
.custim{
    height: 84%;
    width: 136%;
    margin-left: 43%;
    margin-top: 16%;
    border:1px solid black;
}


/*********************/

.green{
    color: green;
}
/*#data tr {
    display: none;
  }*/

.col-md-9{
    margin-left:2px;
    margin-top:1px;
    height:950px;
}
.subheader{
    height:1px;
    background-color: lightslategrey;
    margin-bottom:10px;
   
   
}
.subheader:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 36%;
    margin-left: -150px;
    width: 0;
    height: 0;
    border-top: solid 7px lightslategrey;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}
.subheader1{
    height:15px;
    
}

.dropdown{
    height:20px;
      /*background-color:gainsboro;*/
       margin-bottom: 0px;
}
.btn2 {
border-radius: 0px;
    width: 180px;
    height:35px;
    margin-right: 33px;
}
.btn-default {
    background-color:white;
}
.contain{
    background-color: #e0e1e2;
    height:950px;
    width:100vw;
}
.menu{
    width: 168px;
    margin-right: 34px;

}
button:hover{
    color:white;
}

/*2*******************/
.salesdetails{
  width:100%;
}
.contain3{
    width:100vw;
}
.subheader{
    height:1px;
    background-color: lightslategrey;
    margin-bottom:10px;
    width:100%;
   
   
}
.subheader:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 22%;
    margin-left: -16;
    width: 0;
    height: 0;
    border-top: solid 7px lightslategrey;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}
.subheader1{
    height:15px;
   
    
}

.dropdown{
    height:20px;
      /*background-color:gainsboro;*/
       margin-bottom: 0px;
}
.btn2 {
    border-radius: 0px;
    margin-right: 17px;
    text-align: left;
    width:170px;
}
.btn-default {
    background-color:white;
}
.contain{
    background-color: #e0e1e2;
    height:96;
    width:1123px;
}
.subheadercont{
    background-color: #f2f2f2;
    height:45px;
}
.salesDetailsContent{
    height:66;
}
/*.salesoppfact{
    width:1000px;
    margin-left:60px;
    margin-bottom: 0px;
    border:solid black 1px;
    height:580px;
}*/
.strip{
    background-color:  grey;
    width: 100%;
    height: 30%;
    padding-left: 15px;
}
.contain1{
    padding-left: 30px;
    color: grey;
}
.vl{
    border-left: 4px solid grey;
    height: 300px;
   
}
button{
    border-radius: 0px;
}
.nav{
    background-color: lightgrey;
}

.navbarcontents{
    
    font-size:14px;
    margin-right:10px;
    font-family: "Segoe UI";
    margin-left:21px;
}
.menu{
 margin-right: 34px;
 width: 170px;
}
.section1{
   height:37px;
    background-color: lightgrey;
}
.btn1 {
    border-radius: 0px;
    width: 180px;
    height:35px;
    margin-right: 20px;
    margin-top:-5px;
}
.container{
    margin-left:0px;
}

.nav-link{
    outline: none;
    
 }
/*.nav-item{
    box-shadow: 10px 10px 5px #888888;
}*/

.active {box-shadow: 4px 4px 4px #888888;}
button:hover{
    color:white;
}


/*3************************/
.contain1{
    padding-left: 30px;
    color: grey;
    width:100%;
}
.vl{
    border-left: 2px solid grey;
    height: 634px;
   
}
button{
    border-radius: 0px;
}


.card2 {
     height: 215px;
    width: 201px;
    padding-left: 22px;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    margin-left: -14%;
    margin-right: 1%
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}